
informe/document.aux
informe/document.bbl
informe/document.bcf
informe/document.blg
informe/document.log
informe/document.run.xml
informe/document.synctex.gz
informe/document.toc
informe/document.log
informe/document.synctex.gz
*.log
burgers2DVF/*.dat